.signIn {
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  &__icon {
    width: 40px;
    height: 40px;
  }
}
.errorContainer {
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  position: relative;
  &__icon {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
  &__content {
    font-weight: 700;
    font-size: 1.25rem;
  }
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  label {
    font-weight: 700;
  }
  input {
    padding: 5px;
    font-size: 1.2rem;
  }
}
.inputRemember {
  display: flex;
  label {
    margin-left: 0.25rem;
  }
}
