.userModal {
  background-color: white;
  padding: 20px;
  margin: 0 auto 16px auto;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .userModal__title {
    font-size: 2rem;
    @media (max-width: 920px) {
      font-size: 1.5rem;
    }
  }
  .editingInput {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 5px;
    padding: 5px;
    label {
      font-weight: 700;
    }
    input {
      padding: 5px;
      font-size: 1.2rem;
      border-radius: 5px;
      width: 70%;
    }
    @media (max-width: 920px) {
      flex-direction: column;
      input {
        font-size: 0.7rem;
      }
      label {
        font-size: 0.8rem;
      }
    }
  }
  .buttonChoice {
    display: flex;
    gap: 5px;
    .modalButton {
      width: 50%;
      margin-top: 1rem;
      padding: 4px;
      font-size: 1.1rem;
      font-weight: 700;
      border-radius: 5px;
      border: none;
      color: #fff;
    }
    .modalButton:hover {
      cursor: pointer;
    }
    @media (max-width: 920px) {
      .modalButton {
        font-size: 0.9rem;
      }
    }
  }
  .cancelStyle {
    background-color: red;
  }
  .saveStyle {
    background-color: #00bc77;
  }
}
