.headerUser {
  color: #fff;
  margin-bottom: 2rem;
  .editButton {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    border: none;
  }
}
